.l-grid
    box-sizing border-box
    padding 0

    &--container
        margin 0 auto
        max-width 1140px
        width 100%

    &--no-gutters
        padding 0

.l-row
    display flex
    flex 0 1 100%
    flex-direction row
    flex-wrap wrap
    list-style none
    margin -1rem -0.5rem 1rem -0.5rem
    padding 0

    &:last-child
        margin-bottom 0

    &--no-gutters
        margin 0

    &--xs-top
        align-items flex-start

    &--xs-center
        justify-content center

    &--xs-space-around
        justify-content space-around

    &--xs-center
        justify-content center

    &--xs-middle
        align-items center

    &--xs-bottom
        align-items flex-end

    &--xs-reverse
        flex-direction row-reverse

    &--xs-column
        flex-direction column

.l-col
    flex 0 0 100%
    max-width 100%
    padding 0 10px

    &:first-child
      padding-left 0

    &:last-child
      padding-right 0

    &--no-gutters
        padding 0

    &--xs-align-top
        align-self flex-start

    &--xs-align-center
        align-self center

    &--xs-align-bottom
        align-self flex-end

    &--xs-first
        order -1

    &--xs-reset
        order 0

    &--xs-last
        order 1

    &--xs-flex
        display flex

    &--xs-column
        flex-direction column

    &--xs
        flex-grow 1
        flex-basis 0
        max-width 100%

    &--xs-1
        width 8.333333333333334%
        flex none

    &--xs-2
        width 16.666666666666668%
        flex none

    &--xs-3
        width 25%
        flex none

    &--xs-4
        width 33.333333333333336%
        flex none

    &--xs-5
        width 41.66666666666667%
        flex none

    &--xs-6
        width 50%
        flex none

    &--xs-7
        width 58.333333333333336%
        flex none

    &--xs-8
        width 66.66666666666667%
        flex none

    &--xs-9
        width 75%
        flex none

    &--xs-10
        width 83.33333333333334%
        flex none

    &--xs-11
        width 91.66666666666667%
        flex none

    &--xs-12
        width 100%
        flex none

    &--xs-offset-0
        margin-left 0

    &--xs-offset-1
        margin-left 8.333333333333334%

    &--xs-offset-2
        margin-left 16.666666666666668%

    &--xs-offset-3
        margin-left 25%

    &--xs-offset-4
        margin-left 33.333333333333336%

    &--xs-offset-5
        margin-left 41.66666666666667%

    &--xs-offset-6
        margin-left 50%

    &--xs-offset-7
        margin-left 58.333333333333336%

    &--xs-offset-8
        margin-left 66.66666666666667%

    &--xs-offset-9
        margin-left 75%

    &--xs-offset-10
        margin-left 83.33333333333334%

    &--xs-offset-11
        margin-left 91.66666666666667%

    &--xs-offset-12
        margin-left 100%
