extends ../_layouts/base

block config
  - var baseUrl = '../'
  - var pageClass = 'about'

block content
  .ui-content__wrapper
    .ui-wrapper
        h1 Who we are & what we do
        .ui-wrapper__contenttext(class="ui-wrapper__contenttext--" + pageClass) Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.
        .ui-wrapper__meetbutton
          .ui-meetbutton
            .ui-meetbutton__text Meet the team
        .ui-wrapper__about
          .l-grid.l-grid--container
            .l-row.l-row--no-gutters
              .l-col.l-col--xs-3
                .ui-team-cart
                  .ui-team-cart__imgteam
                    .ui-imgteam
                  .ui-team-cart__headline Anton Petrov
                  .ui-team-cart__position General manager
                  .ui-team-cart__social
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--fb(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--twitter(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--google(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--linkedin(href="")
              .l-col.l-col--xs-3
                .ui-team-cart
                  .ui-team-cart__imgteam
                    .ui-imgteam
                  .ui-team-cart__headline Kirl Donchev
                  .ui-team-cart__position Design Master
                  .ui-team-cart__social
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--fb(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--twitter(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--google(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--linkedin(href="")
              .l-col.l-col--xs-3
                .ui-team-cart
                  .ui-team-cart__imgteam
                    .ui-imgteam
                  .ui-team-cart__headline Ilian Bonev
                  .ui-team-cart__position Developer Ninja
                  .ui-team-cart__social
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--fb(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--twitter(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--google(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--linkedin(href="")
              .l-col.l-col--xs-3
                .ui-team-cart
                  .ui-team-cart__imgteam
                    .ui-imgteam
                  .ui-team-cart__headline Doni Stamov
                  .ui-team-cart__position SEO guru
                  .ui-team-cart__social
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--fb(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--twitter(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--google(href="")
                    a.ui-team-cart__social-icon.ui-team-cart__social-icon--linkedin(href="")
